[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
pandas = "==1.5.3"
sqlalchemy = {extras = ["sqlite"] }
werkzeug = "*"
csvs-to-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
